
* {
   
    flex-wrap: wrap;
   padding: 0%; 
   margin: 0%;
}
body{
    
    background-color: black;
    
    display: flex;
     flex-wrap: wrap;
     flex-direction: column;
     justify-content: center;
     align-items: center;
    overflow-x: hidden;
   width: 100%;
    
    
}
header{ 
    background-image: url(wp1904056.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    display:flex;
    border-radius: 50px;
    margin: 0;
    padding: 0px;
    padding-bottom: 5px ;
    text-align: center;
    transition: top 0.25s;
    display: flex;
    flex-direction: row;
    top: 0px;
    position:fixed;
   justify-content: space-evenly;
   align-items: center;
   border: 2px solid rgb(9, 208, 235 );

}
#navbar a{
    
    font-size:  30px ;
    display: flex;
   margin: 0%;
   
    display: block;
    text-align: center;
    align-content: center; 
    color: aliceblue;
}
#navbar a:hover{
    color: rgb(76, 106, 139);
}
h1{
    justify-content: flex-start;
    margin-top: 0%;
    padding-top: 0%;
    font-family: monospace;
    font-size: 60px;
}

section{
    display: flex;
    justify-content: center;
    
    flex-wrap: wrap;
    padding-top: 30px;
    text-align: center;
    width: 100%;
    min-height: 700px;
    

}
#welcome{
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 0%;
    color: aliceblue;
    margin-top: 0%;
    padding-bottom: 0%;
    margin-bottom: 0%;
}
#contactInfo{
    font-size:25px;
}


h1{
    padding-top: 30px;
}


#sec2{
    align-content: space-around;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-top: 0%;
    margin-top: 0%;
    color: aliceblue;
}


#about{
    padding: 50px;
    padding-top: 100px;
    margin-top: 100px;
    margin-bottom: 150px;
    justify-content: space-around;
    align-self: center;
    width: 700px;
    height: 300px;
    border: #000008;
    box-shadow: 0px 10px 40px rgb(76, 106, 139);
}
#sec3{
   
    flex-wrap: wrap;
    
    color: aliceblue;
}


#picture {
    
    border-radius: 15px;
    height: 500px;
    width: 400px;
    margin: 0;
    overflow: hidden;
    background-image: url(profilePic.png);
    background-position: top;
    background-size:cover;
    border: 2px solid #000008;
    box-shadow: 0px 10px 40px rgb(76, 106, 139);
}
#name{
    flex-wrap: wrap;
    align-content: center;
    display: flex;
    flex-direction: column;
font-size: 40px;
}
#links{
    height: 60px;
    padding: 30px;
    justify-content: space-around;
    align-content: center;
    display: flex;
}
#github{
    height: 60px;
    width :60px;
    

}
#github:hover{
    border:5px solid rgb(9, 208, 235);
}
 
 #linkedIn{
    
    height: 60px;
    width :60px;
    
    
}
#linkedIn:hover{
    border:5px solid rgb(9, 208, 235);
}